#table
{
	margin:0 auto;
    // border-bottom:1px solid black;
   background:#fff;
     padding:50px 40px;
	 width:10%;
 
}
tr
{
	
}
 th
{
	border-bottom:1px solid black;
padding-left:40px;
height:20px;
}
 td
{
	border-bottom:1px solid black;
padding-left:40px;
height:50px;
text-align:center;
}
td img
{
	margin-top:20px;
	margin-bottom:20px;
	width:100px;
	height:100px;

}
#table input[type="submit"]
{
	
    background:green;
	border:none;
	width:100px;
	height:30px;
	opacity:0.8;
	
}
#table input[type="submit"]:hover
{
	//background:green;
	cursor:pointer;
	opacity :0.9;
}

#proceed-btn
{
	text-decoration:none;
	background:green;
	padding:10px 25px;
	height:100px;
	/*border:1px solid black;*/
	color:white;
}