body{
padding: 0px;
margin:0px;
font-family: sans-serif;	
}
.container
{
	width: 90%;
	margin:auto;
	overflow: hidden;
}
#contact-section
{
background-position: center;
height: 100%;
width: 100%;
padding-bottom: 2%;
}
#contact-section .container h2{
	text-align: center;
	text-decoration: underline;
	text-underline-position: under;
	color:#b13c68;
	letter-spacing: 2px;
}
#contact-section .container p{
	text-align: center;
	width: 70px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3%;
	color: #b13c68;
	letter-spacing: 3px;
}
.contact-form i.fa
{
font-size: 22px;
padding: 3%;
background-color: none; 	
margin :2%;
border-radius: 80%;
cursor:pointer;
border: 2px solid rgb(190,190,190);
color:#b13c68;
}
.contact-form i.fa:hover
{
	cursor: pointer;
	border:2px solid #fff;
	color:#fff;
}
.contact-form{
	display: grid;
	grid-template-columns: auto auto;
   /*grid-gap: 5px;*/
}
.form-info
{
	font-size: 16px;
	font-style: italic;
	color:#b13c68;
	letter-spacing: 2px;
}
input
{
padding: 10px;	
margin:10px;
width: 70%;
background-color: rgba(136,133,133,0.5);
color:#b13c68;
border:none;
outline: none;

}
input::placeholder{
	color:#fff;
}
textarea{
padding: 10px;
margin:10px;
width: 70%;
background-color: rgba(136,133,133,0.5);	
color:#b13c68;
border:none;
outline: none;
}
textarea::placeholder
{
	color:#fff;
}
.submit{
	width: 30%;
	background:none;
	padding: 4px;
	outline: none;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 33px;
	text-align: center;
	cursor: pointer;
	letter-spacing: 2px;
	margin-left: 3%;
	border:2px solid rgb(190,190,190);
	color:rgb(190,190,190);

}
.submit:hover
{
	border:1px solid black;
	color: #b13c68;
	cursor: pointer;
}
@media(max-width: 768px)
{
	#contact-section .contact-form
	{
		display: block;
		width: 100%;
		text-align: center;
	}
	#contact-section .submit
	{
		width: 60%;
	}
}